html {
    height: 100%;
    font-family: Ubuntu;
}
/*variables*/
:root {
    --background-color: rgb(94, 89, 89);
    --theme-color: rgb(64, 224, 208, .7);
}
/*end*/

/*esentailly the background encapsulating all visible expressions on browser*/
body {
    min-height: 100%;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    color: white;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
/*end*/
/*BEGINNING OF NAVIGATION BAR*/
/*navigationBar parent container*/
.header {
    margin: 0 auto;
    background: var(--theme-color);
    width: 100%;
    display: flex;
    justify-content:space-between;
}
/*end*/
/*navigationBar top left child container*/
.topLeftContainer{
    width: 25%;
    background: red;
}
/*end*/
/*navigationBar top left text container*/
.topLeftTextContainer {
    top: 0;
    background: blue;
}
/*end*/
/*navigationBar top left icon container*/
.topLeftIconContainer {
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
}
/*end*/
/*navigationBar top left child container*/
.topRightChildContainer {
    width: 10%;
    margin: auto 0 ;
    max-height: 100px;
    border-radius: 100%;
    background: var(--background-color);
    box-shadow: 0px 0 20px var(--background-color);
}
/*end*/
/*navigationBar top left img*/
.topLeftImg {
    width: 75%; 
    clip-path: circle();  
}
/*end*/
/*top middle child container*/
.topMiddleChildContainer {
    width: 50%;
    display: flex;
}
/*end*/
/*BEGINNING OF navigationBar drop button*/
/*navigationBar drop button (the layer around the actual button)*/
.dropBtn {
    margin: auto;
    position: relative;
    min-width: 150px;
    text-align: center;
}
/*end*/
/*button located inside drop down menue*/
.innerBtnContainer {
    padding: 0px;
    position: absolute;
    min-width: 100%;
    max-width: 100%;
}
/*end*/
/*navigationBar drop button (the actual button)*/
.dropbtn{
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--theme-color);
    background: transparent;
    color: white;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
/*end*/
/*navigationBar button (the actual button of the button located inside the drop menue)*/
.drop_button {
    margin: 10px 0;
    min-width: 100%;
}
/*end*/
/*BEGINNING OF HOVER AND DROPDOWN FUNCTIONS AND STYLES*/
/*navigation bar drop menue*/
.dropdown-content {
    display: none;
    position: absolute;
    line-height: 2rem;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    z-index: 1;
    transform-origin: top;
    transition-duration: 20s;
    transition-timing-function: ease-in;  
 }
 /*navigation bar button outer layer hover function*/
.dropBtn:hover /*.dropdown-content*/  {
    position: relative;
    display: block;transform: scale(1,1);
}
/*end*/
/*second layer drop down menue button outter layer function*/
.innerBtnContainer:hover .dropdown-content__app {
    position: relative;
    display: flex;
}
/*end*/

.dropbtn:hover {
    background: var(--theme-color);
    box-shadow: var(--theme-color);
}

.dropdown-content__app {
    display: none;
    background: var(--theme-color);
    box-shadow: 0 0 .5px  var(--theme-color);
    justify-content: space-around;
    margin: 10px 0;
    line-height: 2rem;
    text-align: center;
    padding: 5px;
    width: 200%;
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.dropdown-content .drop_button {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.dropdown-content__app a {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
    padding: 10px 20px;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.dropdown-content a:hover{
    box-shadow: 0 -10px 10px var(--theme-color);
}

.dropdown-content .drop_button:hover{
    box-shadow: 0 -10px 10px var(--theme-color);
}

.dropdown-content__app a:hover{
    background: var(--background-color);
    box-shadow: 0 0 10px var(--theme-color);
}
/*end of hover and dropdown functions and styles*/
/*end of navigation bar drop menue buttons*/
/*end of navigation bar*/

/*BEGINNING OF THE BODY*/

.container {
    margin: auto;
    width: 80%;
    min-height: 100px;
    background: white;
}

.card-body {
    padding: 30px;
}

.badge__container {
    display: flex;
    margin-top: 50px;
    min-height: 100px;
    justify-content: center;
}

.badge {
    margin: 0 10px;
    min-width: 100px;
    max-width: 100px;
    max-height: 50px;
    padding: 10px;
    border-radius: 15px;
    background:black;
    box-shadow: 0 0 5px var(--theme-color);
    text-align: center;
}

.card {
    background: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 0 20px   var(--theme-color);
    min-height: 600px;
    max-height: 100%;
    max-width: 400px;
    margin: 20px;
}

.social-icon {
    transition: 250ms;
}
.social-icon a {
    color: white;
}

.social-icon:hover {
    transform: scale(1.2);
}

.show-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: gold;
}

span {
    display: flex;
    justify-content: space-around;
    
    height: 100%;
    border: 5px dotted red;
}

.item__container {
    box-shadow: 0 0 20px var(--theme-color);
    /*background: var(--background-color);*/
    border-radius: 20px;
    padding: 30px;
    min-height: 80%;
    min-width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    
}

/*the following sigment is for the index page*/
@keyframes show_area{
    from {opacity: 0;}
    to {opacity: 1;}
}
.item_container__show_area {
    margin: auto;
    width: 50%;
    color: var(--theme-color);
    text-align: center;
    animation-name: show_area;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
/*end of sgment*/




.item_img_container {
    background: grey;
    margin: auto;
    box-shadow: 0 0 10px var(--theme-color);
    transition: 250ms;
    animation-name: show_area;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.img {
    width: 10%;
}

.item_img_container:hover {
    transform: scale(1.2);
}

.item:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 110%;
  }
  
.item:hover:before {
    opacity: 1;
    visibility: visible;
}

.card-footer {
    background: var(--theme-color);
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.card-footer a {
    margin: 5px;
    color: white;
}

/*.card-footer h2 {
    font-size: 1.5rem;
}*/
/*
@media (min-width: 701px) {
    .item__container {
        width: 100%;
    }

    .sub_nav__container {
        display: flex;
    }
}*/

@media (max-width: 1000px) {
    .header-container {
        font-size: 1rem;
    }
    .nav-container{
        font-size: 1rem;
        margin: 0 auto;
        display: block;
        margin-bottom: 100px;
    }

    nav ul {
        display: block;
        list-style: none;
    }

    .sub_nav__container {
        padding: 10px 0;
    }

    .dropbtn {
        font-size: 1rem;
        width: 80%;
        height: 100%;
    }

    .drop_button {
        max-width: 10px;
    }

    .card-header {
        width: 100px;
        margin: 30px 0;
    }

    

    .card {
        min-width: 100%;
        font-size: 1rem;
    }

    .card-body {
        padding: 0;
        text-align: center;
    }


    .container {
        display: block;
    }
    
    .sub-container {
        width: 80%;
        text-align: center;
    }

    .dropbtn{
        margin-left: auto;
        margin-right: auto;
    }
    
    span {
        max-height: 100%;
        margin: 30px 0;
    }

    .show-area {
        min-height: 250px;
    }
    
    .item__container {
        display: flex;
        min-height: 250px;
        width: 100%;
    }
    
    .item_img_container {
        margin: auto;
    }

    
    .footer-container {
        justify-content: space-between;
        width: 30%;
    }
    /*.social-icon {
    }*/
}

@media (max-width: 350px) {
    .container {
        display: block;
    }
}

