html {
    height: 100%;
    font-family: Ubuntu;
}
/*variables*/
:root {
    --background-color: rgb(0, 0, 0);
    --theme-color: rgb(64, 224, 208, .7);
    --text-color: rgb(255, 255, 255);
}
/*end*/
/*fonts*/
@font-face {
    font-family: 'blackopsone';
    /*font-weight: 400;*/
    src: url('assets/fonts/blackopsone-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/blackopsone-regular-webfont.woff') format('woff');
}
/*end*/
/*esentailly the background encapsulating all visible expressions on browser*/
body {
    min-height: 100%;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
/*end*/
/*BEGINNING OF NAVIGATION BAR*/
/*navigationBar parent container*/
.header {
    margin: 0 auto;
    background: var(--theme-color);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
/*end*/
/*navigationBar top left child container*/
.topLeftContainer{
    width: 100%;
}
/*end*/
/*navigationBar top left text container*/
.topLeftTextContainer {
    top: 0;
    text-align: center;
}
/*end*/
/*navigationBar top left icon container*/
.topLeftIconContainer {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}
.socialIcon {
    transition: 250ms;
}
.socialIcon a {
    color: var(--background-color);
    font-size: 1.25rem;
}

.socialIcon:hover {
    transform: scale(1.2);
}
/*end*/
/*navigationBar top left child container*/
.topRightChildContainer {
    width: 100%;
    display: flex;
}
/*end*/
/*navigationBar top left img*/
.topLeftImg {
    margin: auto;
    max-width: 100px; 
    clip-path: circle();  
}
/*end*/
/*top middle child container*/
.topMiddleChildContainer {
    grid-column: 2;
    width: 100%;
    display: flex;
}
/*end*/
/*BEGINNING OF navigationBar drop button*/
/*navigationBar drop button (the layer around the actual button)*/
.dropBtn {
    margin: auto;
    position: relative;
    min-width: 150px;
    text-align: center;
}
/*end*/
/*button located inside drop down menue*/

/*end*/
/*BEGINNING OF button FUNCTIONS AND STYLES*/
/*navigationBar drop button (the actual button)*/
.dropbtn{
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--background-color);
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
    transition-duration: 500ms;
    transition : 0.2s;
    transition-timing-function: ease-in-out;
}
.dropbtn:hover {
    background: var(--background-color);
}
.dropbtn:active {
    transform: scale(0.96);
}
/*end*/
/*navigation bar drop content*/
.dropContentContainer {
    min-height: 50px;
}
@keyframes dropDownContent{
    from {opacity: 0;}
    to {opacity: 1;}
}
.dropDownContent {
    display: flex;
    min-height: 50px;
    animation-name: show_area;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}
.dropContentSpan {
    min-width: 100%;
    max-height: 25px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.button {
    color: var(--text-color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 0px  10px var(--theme-color);
    cursor: pointer;
    min-width: 100px;
    transition-duration: 500ms;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}
.button:hover {
    background: var(--theme-color);
    box-shadow: none;
}
.button:active {
    transform: scale(0.96);
}
/*end of hover and dropdown functions and styles*/
/*end of navigation bar drop menue buttons*/
/*end of navigation bar*/

/*BEGINNING OF THE main  BODY container*/
.bodyContainer {
    display: flex;
    min-height: 500px;
    /*max-height: 100%;*/
}
/*body image container*/
@keyframes show_area{
    from {opacity: 0;}
    to {opacity: 1;}
}
.imgContainer {
    width: 80%;
    margin: auto;
    transition: 250ms;
    animation-name: show_area;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
/*end*/
/*body images plus buttons */
/*images*/
.img {
    max-width: 10%;
    transition: 250ms;
}
.img:hover {
    transform: scale(1.2);   
}
.fullView {
    visibility: hidden;
  }
.fullView.isVisible {
    visibility: visible;
  }
  .form-popup-bg {
    visibility: hidden;
  }
  .form-popup-bg.is-visible {
    visibility: visible;
  }
/*end*/
/*buttons*/
.penButtonSpan {
    margin: 5% 0;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
}
.Button {
    border: none;
    background: none;

}


span a {
    
    position: relative;
    text-decoration: none;
    color: var(--text-color);
}
span a::before {
    content: '';
    display: block;
    height: 0.1px;
    box-shadow: 0 10px 1.5px var(--theme-color);
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
span a:hover::before {
    transform: scale(1,1);
}
/*end*/
/*end of the main body container*/
/*beginning of the footer container*/
footer {
    background: var(--theme-color);
    width: 100%;
    margin-top: auto;
}
/*un-ordered list containter*/
.footerList {
    display: flex;
    justify-content: space-around;
}
 ul li {
    font-family: 'blackopsone';
    font-size: 1.5rem;
    list-style: none;
    transition: 250ms;
}
li a {
    text-decoration: none;
    color: var(--text-color);
}
ul li:hover {
    transform: scale(1.2);
}
/*end of un-ordered list container*/
/*end of footer container*/
.footer-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.card-footer a {
    margin: 5px;
}

@media (max-width: 1000px) {}

@media (max-width: 350px) {
    
}

